
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { padding: 0; margin: 0; }

/*body, html
{
}
*/
.background_div {
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
	position: absolute;
	top: 0px;
	display: none;
}
/* Landscape */
p#start
{
	position: relative;
	width: 16em;
	font-size: 200%;
	font-weight: 400;
	margin: 30% auto;
	color: #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}
@media screen and (max-device-width: 1000px) {
p#start {
	font-size: 200%;
}
}

.fade
{
	opacity: 0;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

@media screen and (max-device-width: 1000px) {
p#start {
	font-size: 100%;
}
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}



@-webkit-keyframes crossfade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes crossfade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

@-ms-keyframes crossfade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes crossfade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes crossfade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fadein {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadein {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes fadein {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadein {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

h1
{
	position: absolute;
	width: 15em;
	left: 50%;
	top: 25%;
	font-size: 10em;
	text-align: center;
	margin-left: -7.5em;
	line-height: 0.8em;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 5s ease-out 2.5s;
	-moz-animation: logo 5s ease-out 2.5s;
	-ms-animation: logo 5s ease-out 2.5s;
	-o-animation: logo 5s ease-out 2.5s;
	animation: logo 5s ease-out 2.5s;
}

h1 sub
{
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 0.8em;
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}


#left #titles
{
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg) rotateZ(-0.5deg);
	-moz-transform: perspective(300px) rotateX(25deg) rotateZ(-0.5deg);
	-ms-transform: perspective(300px) rotateX(25deg) rotateZ(-0.5deg);
	-o-transform: perspective(300px) rotateX(25deg) rotateZ(-0.5deg);
	transform: perspective(300px) rotateX(25deg) rotateZ(-0.5deg);
}

#right #titles
{
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg) rotateZ(0.5deg);
	-moz-transform: perspective(300px) rotateX(25deg) rotateZ(0.5deg);
	-ms-transform: perspective(300px) rotateX(25deg) rotateZ(0.5deg);
	-o-transform: perspective(300px) rotateX(25deg) rotateZ(0.5deg);
	transform: perspective(300px) rotateX(25deg) rotateZ(0.5deg);
}

@media screen and (max-device-width: 1000px) {
/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 8em;
	margin-left: -4em;
	font-size: 300%;
	height: 50em;
	bottom: 0;
	left: 50%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(150px) rotateX(25deg);
	-moz-transform: perspective(150px) rotateX(25deg);
	-ms-transform: perspective(150px) rotateX(25deg);
	-o-transform: perspective(150px) rotateX(25deg);
	transform: perspective(150px) rotateX(25deg);
}

#left #titles
{
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(150px) rotateX(25deg) rotateZ(-0.5deg);
	-moz-transform: perspective(150px) rotateX(25deg) rotateZ(-0.5deg);
	-ms-transform: perspective(150px) rotateX(25deg) rotateZ(-0.5deg);
	-o-transform: perspective(150px) rotateX(25deg) rotateZ(-0.5deg);
	transform: perspective(150px) rotateX(25deg) rotateZ(-0.5deg);
}

#right #titles
{
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(150px) rotateX(25deg) rotateZ(0.5deg);
	-moz-transform: perspective(150px) rotateX(25deg) rotateZ(0.5deg);
	-ms-transform: perspective(150px) rotateX(25deg) rotateZ(0.5deg);
	-o-transform: perspective(150px) rotateX(25deg) rotateZ(0.5deg);
	transform: perspective(150px) rotateX(25deg) rotateZ(0.5deg);
}
}


#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 30s linear 5.5s;
	-moz-animation: scroll 30s linear 5.5s;
	-ms-animation: scroll 30s linear 5.5s;
	-o-animation: scroll 30s linear 5.5s;
	animation: scroll 30s linear 5.5s;
}

.instructions-set {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;

  	animation:fadein 2s;
  	animation-timing-function:linear;
  	animation-delay: 28.5s;
  	animation-fill-mode:forwards;
  	animation-iteration-count: 1;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation:fadein 2s;
  	-webkit-animation-timing-function:linear;
  	-webkit-animation-delay: 28.5s;
  	-webkit-animation-fill-mode: forwards;
}
.instructions-set p {
	bottom: 0px;
	font-size: 200%;
	position: absolute;
	text-align: center;
	width: 100%;
	font-weight: normal
}
@media screen and (max-device-width: 1000px) {
.instructions-set p {
	font-size: 100%;
}
}
.instructions-set div {
	opacity:0; 
    animation-name: crossfade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
}
.instructions {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.instructions-set div:nth-child(1) { animation-delay: 0s; }
.instructions-set div:nth-child(2) { animation-delay: 3s; }
.instructions-set div:nth-child(3) { animation-delay: 6s; }

.instructions.instructionsidle {
    background-image: url("../images/instructions-idle.png");
}

.instructions.instructionsleft {
    background-image: url("../images/instructions-left.png");
}

.instructions.instructionsright {
    background-image: url("../images/instructions-right.png");
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -70%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -70%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -70%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -70%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -70%; }
}
